/*
    Theme name: Escuela Cocina
    Theme URL: 
    Author: JuanRojas
    Description: Tema creado para la escuela de cocina
    version: 1.0
    Text Domain: escuelacocina
*/

/*
    Global
*/
:root {
    --primario: #f46669;
    --primarioDark: #dc4747;
    --secundario: #c7c57d;
    --gris : #f5f5f5;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    color: #303030;
}
p{
    font-weight: 300;
    /* line-height: 2rem; */
    font-size: 1rem;
}
blockquote.subtitle p{
    border-left: .2rem solid var(--primario);
    color: #303030;
    font-style: italic;
    font-size: 1.6rem;
    font-weight: 100;
}
.hr-100{
    height: 30rem;
}
@media (min-width: 768px){
    .hr-100{
        height: 45rem;
    }
}
/*
    Colors
*/
.bg-primary, .btn-primary,
.info-extra .list-group-item,
.page-link:hover{
    background-color: var(--primario) !important;
}
.text-primary, .proximosCursos .card-text,
.nav-link:hover, .current_page_item a,
.node .body-node h3,
.node .meta a,
.node .meta span,
.class .class-description,
.page-link,
.comment-reply-title a,
.comment-form .logged-in-as a{
    color: var(--primario) !important;
}
.badge-secondary, .proximosCursos .card-footer,
.include .list-group-item, .bg-secondary{
    background-color: var(--secundario) !important;
}
.proximosCursos .card-footer a,
.badge-secondary, .nav-link{
    color: var(--dark);
}
.btn-primary{
    border-color: var(--primario);
    color: white;
}
.btn-primary:hover, .btn-primary:active, .btn-primary:focus{
    background-color: var(--primarioDark) !important;
    border-color: var(--primarioDark) !important;
}
.btn-primary:focus{
    box-shadow: 0 0 0 0.2rem var(--primarioDark) !important
}

/*
    Imágenes
*/
.imagen-destacada{
    height: 24rem;
    background-size: cover;
}
.top-destacada{
    margin-top: -5rem;
}
.page-description{
    position: relative;
    z-index: 100;
}
.separator::after{
    content: '';
    display: block;
    width: 100%;
    height: 100px;
    margin: 0 auto;
    background-image: url(img/separador.png);
    background-repeat: no-repeat;
    background-position: center;
}
.separator.inverso::after{
    content: '';
    background-image: url(img/separador-inverso.png);
}
.page-template-page-gallery .card{
    border-color: transparent;
}

/*
    Navbar
*/
.current_page_item a{
    border-bottom: 1px solid var(--primario);
}

/*
    Footer
*/
footer{
    border-bottom: 5px solid var(--primario);
}
.copyright{
    font-weight: 700;
    margin-bottom: 0rem;
}

/*
    Home
*/
.home .clases{
    background-color: var(--gris);
}
.home .imagen-superior,
.home .imagen-inferior,
.home .main-footer{
    background-position: top center;
    background-size: cover;
}
.home .content{
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}
.home .bg-secondary .content{
    border-color: var(--dark);
}
.home .main-footer p{
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 3rem;
}

/*
    Nosotros
*/
.columns-3 h3{
    font-weight: 300;
    font-size: 1.6rem;
}

/*
    Blog
*/
.node .meta{
    font-weight: 700;
}
.node .body-node > a:hover{
    text-decoration: none;
}
.proximosCursos .card{
    border: none;
    margin-bottom: 2rem;
}
.proximosCursos .card:last-child{
    margin-bottom: 0rem;
}
.proximosCursos .card-title{
    font-size: 1.2rem;
}
.page-link:hover{
    color: white !important;
}

/*
    Clases
*/
.class{
    margin-bottom: 2rem;
}   
.class .class-description{
    font-weight: 400;
    font-size: 1rem;
    line-height: 2rem;
}

/*
    Comments
*/
.comment-form .form-submit input{
    background-color: var(--primario);
    color: white;
    font-weight: bold;
    border: none;
    padding: .5rem;
    width: 100%;
    transition: background-color .3s ease-in;
}
.comment-form > p{
    display: flex;
    flex-wrap: wrap;
}
.comment-form > p label{
    flex: 0 0 200px;
    font-weight: bold;
}
.comment-form > p input{
    flex: 1;
}
.comment-form > p textarea{
    width: 100%;
}
.logged-in-as {
    display: flex;
    justify-content: center;
}
.comment-form .comment-notes{
    display: block;
    line-height: 1.1;
}
.comment-form .comment-form-cookies-consent,
.comment-form .comment-notes{
    flex-wrap: nowrap;
}
.comment-form .comment-form-cookies-consent input{
    flex: initial;
}
.comment-form .comment-form-cookies-consent label{
    flex: initial;
    line-height: 1.1;
    padding: 0 .5rem;
}
.comment-form .form-submit input:hover{
    background-color: var(--primarioDark);
    cursor: pointer;
}
.comment-reply-title{
    text-align: center;
    margin-bottom: 1rem;
}
.comment-body{
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: var(--secundario);
}
.comment-body a{
    color: black;
}
.comment-body a:hover{
    color: var(--primarioDark);
}
.comments-closed.alert.alert-danger{
    color: white;
    background-color: var(--primario);
    border-color: var(--primarioDark);
}